.main{
    max-width: 620px;
    border: 1px solid black;
    padding: 45px;
    border-radius: 6px;
}
.item-center{
  display:flex;
  justify-content: center;
}
.heading{
  color: #004e98;

}
.error{
  color: red;
}
.bg-color{
  background-color: #eff6fe;;
  height: 725px;
}